# Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# AWS CLI
.aws/

# Python (se houver scripts em shared-modules)
*__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.pytest_cache/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
