# Python

**pycache**/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment

venv/
.env/

# Data files

data/raw/
data/processed/
*.db

# Logs

*.log

# Jupyter

.ipynb_checkpoints/

# VSCode

.vscode/

# OS

.DS_Store
Thumbs.db

# Streamlit

.streamlit/

# Temporary files

*.tmp
